@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    scroll-behavior: smooth;
    /*font-family: ;*/
    font-size: 10px;
}

.Card{
    margin: auto ; /*retirar*/
    width: 15rem;
    height: 10rem;
    background-color: gray;
    border-radius: .5rem;
}





